%h1 User Types

%table
  %tr
    %th Typename
    %th Level
    %th
    %th
    %th

  - @user_types.each do |user_type|
    %tr
      %td= user_type.typename
      %td= user_type.level
      %td= link_to 'Show', user_type
      %td= link_to 'Edit', edit_user_type_path(user_type)
      %td= link_to 'Destroy', user_type, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User type', new_user_type_path
