!!!
%html
  %head
    %title Booked Out
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #container
      #header
        %h2 Welcome to Booked Out.
        %ul.navlinks
          %li.first= link_to "Sign Up", new_user_path
          or
          %li.last= link_to "Log In", new_user_path
      #sidebar
        %ul
          %li Onsite link 1
          %li Onsite link 2
          %li Onsite link 3
          %li Onsite link 4
      #content
        = yield
      #footer
        %ul.footlinks
          %li info1
          %li info2
          %li info3
          %li info4