!!!
%html
  %head
    %title The Mighty Pie Shop
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #container
      #header
        %h2 Welcome to The Mighty Pie Shop.
        %h3 Making awesome pies - since RSN.
        .navlinks
          - if current_user
            Signed in as #{current_user.email}
            = link_to "Edit profile", edit_user_path(current_user)
            = link_to "Logout", logout_path
          -else
            = link_to "Sign Up", signup_path
            or
            = link_to "Log In", login_path
      #sidebar
        = render_cell :sidebar, :show, user: current_user
      #content
        - flash.each do |name,msg|
          = content_tag :div, msg, id: "flash_#{name}"
        = yield
      #footer
        #footerbar
          %ul.footlinks
            %li= link_to :About, about_path
            %li= link_to :Legal, legal_path
            %li= link_to :Contact, contact_path
            %li= link_to :Privacy, privacy_path