!!!
%html
  %head
    %title Booked Out
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #container
      #header
        %h2 Welcome to Booked Out.
        .navlinks
          - if current_user
            Signed in as #{current_user.email}
            = link_to "Logout", logout_path
          -else
            = link_to "Sign Up", signup_path
            or
            = link_to "Log In", login_path
      #sidebar
        %ul
          %li Onsite link 1
          %li Onsite link 2
          %li Onsite link 3
          %li Onsite link 4
      #content
        = yield
      #footer
        %ul.footlinks
          %li info1
          %li info2
          %li info3
          %li info4